<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.lead.mapper.CrmLeadMapper">
    
    <sql id="selectCrmLeadVo">
        select id, lead_code, lead_name, country, lead_type, website, lead_source, input_by, follow_by, lead_status, intended_products, introduction, estimated_amount, next_follow_time, create_by, create_time, update_by, update_time, remark from crm_lead
    </sql>

    <select id="selectCrmLeadList" parameterType="CrmLead" resultType="CrmLead">
        <include refid="selectCrmLeadVo"/>
        <where>  
            <if test="leadCode != null  and leadCode != ''"> and lead_code like concat('%', #{leadCode}, '%')</if>
            <if test="leadName != null  and leadName != ''"> and lead_name like concat('%', #{leadName}, '%')</if>
            <if test="country != null  and country != ''"> and country = #{country}</if>
            <if test="leadSource != null  and leadSource != ''"> and lead_source = #{leadSource}</if>
            <if test="leadType != null  and leadType != ''"> and lead_type = #{leadType}</if>
            <if test="leadStatus != null  and leadStatus != ''"> and lead_status = #{leadStatus}</if>
            <if test="followBy != null"> and follow_by = #{followBy}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectCrmLeadById" parameterType="Long" resultType="CrmLead">
        <include refid="selectCrmLeadVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCrmLead" parameterType="CrmLead" useGeneratedKeys="true" keyProperty="id">
        insert into crm_lead
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="leadCode != null">lead_code,</if>
            <if test="leadName != null">lead_name,</if>
            <if test="country != null">country,</if>
            <if test="leadSource != null">lead_source,</if>
            <if test="leadType != null">lead_type,</if>
            <if test="website != null">website,</if>
            <if test="inputBy != null">input_by,</if>
            <if test="followBy != null">follow_by,</if>
            <if test="leadStatus != null">lead_status,</if>
            <if test="intendedProducts != null">intended_products,</if>
            <if test="introduction != null">introduction,</if>
            <if test="estimatedAmount != null">estimated_amount,</if>
            <if test="nextFollowTime != null">next_follow_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="leadCode != null">#{leadCode},</if>
            <if test="leadName != null">#{leadName},</if>
            <if test="country != null">#{country},</if>
            <if test="leadSource != null">#{leadSource},</if>
            <if test="leadType != null">#{leadType},</if>
            <if test="website != null">#{website},</if>
            <if test="inputBy != null">#{inputBy},</if>
            <if test="followBy != null">#{followBy},</if>
            <if test="leadStatus != null">#{leadStatus},</if>
            <if test="intendedProducts != null">#{intendedProducts},</if>
            <if test="introduction != null">#{introduction},</if>
            <if test="estimatedAmount != null">#{estimatedAmount},</if>
            <if test="nextFollowTime != null">#{nextFollowTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateCrmLead" parameterType="CrmLead">
        update crm_lead
        <trim prefix="SET" suffixOverrides=",">
            <if test="leadCode != null">lead_code = #{leadCode},</if>
            <if test="leadName != null">lead_name = #{leadName},</if>
            <if test="country != null">country = #{country},</if>
            <if test="leadSource != null">lead_source = #{leadSource},</if>
            <if test="leadType != null">lead_type = #{leadType},</if>
            <if test="website != null">website = #{website},</if>
            <if test="inputBy != null">input_by = #{inputBy},</if>
            <if test="followBy != null">follow_by = #{followBy},</if>
            <if test="leadStatus != null">lead_status = #{leadStatus},</if>
            <if test="intendedProducts != null">intended_products = #{intendedProducts},</if>
            <if test="introduction != null">introduction = #{introduction},</if>
            <if test="estimatedAmount != null">estimated_amount = #{estimatedAmount},</if>
            <if test="nextFollowTime != null">next_follow_time = #{nextFollowTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCrmLeadById" parameterType="Long">
        delete from crm_lead where id = #{id}
    </delete>

    <delete id="deleteCrmLeadByIds" parameterType="String">
        delete from crm_lead where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>