<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <!-- 类型别名配置 -->
    <typeAliases>
        <package name="com.crm.customer.domain"/>
        <package name="com.crm.order.domain"/>
        <package name="com.crm.inventory.domain"/>
        <package name="com.crm.inquiry.domain"/>
        <package name="com.crm.supplier.domain"/>
        <package name="com.crm.lead.domain"/>
        <package name="com.crm.system.domain"/>
        <package name="com.crm.report.domain"/>
    </typeAliases>
    
    <settings>
        <!-- 使用jdbc的getGeneratedKeys获取数据库自增主键值 -->
        <setting name="useGeneratedKeys" value="true" />
        
        <!-- 使用列别名替换列名 默认:true -->
        <setting name="useColumnLabel" value="true" />
        
        <!-- 开启驼峰命名转换 -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
        
        <!-- 二级缓存开关 -->
        <setting name="cacheEnabled" value="true" />
        
        <!-- 延迟加载的核心开关 -->
        <setting name="lazyLoadingEnabled" value="true" />
        
        <!-- 每种数据库的特殊性 -->
        <setting name="multipleResultSetsEnabled" value="true" />
    </settings>

</configuration>
