/* 改变主题色变量 */
$--color-primary: #5DADE2;
$--color-primary-light-1: #6DB6E5;
$--color-primary-light-2: #7DBFE8;
$--color-primary-light-3: #8DC8EB;
$--color-primary-light-4: #9DD1EE;
$--color-primary-light-5: #ADDAF1;
$--color-primary-light-6: #BDE3F4;
$--color-primary-light-7: #CDECF7;
$--color-primary-light-8: #DDF5FA;
$--color-primary-light-9: #EDFEFD;

$--color-success: #67C23A;
$--color-warning: #E6A23C;
$--color-danger: #F56C6C;
$--color-info: #909399;

$--color-text-primary: #303133;
$--color-text-regular: #606266;
$--color-text-secondary: #909399;
$--color-text-placeholder: #C0C4CC;

$--border-color-base: #DCDFE6;
$--border-color-light: #E4E7ED;
$--border-color-lighter: #EBEEF5;
$--border-color-extra-light: #F2F6FC;

$--background-color-base: #F5F7FA;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

/* 自定义样式 */
.el-button--primary {
  background-color: #5DADE2;
  border-color: #5DADE2;
  
  &:hover,
  &:focus {
    background: #6DB6E5;
    border-color: #6DB6E5;
    color: #FFF;
  }
  
  &:active {
    background: #3498DB;
    border-color: #3498DB;
    color: #FFF;
  }
}

.el-menu--horizontal > .el-menu-item.is-active {
  border-bottom: 2px solid #5DADE2;
  color: #5DADE2;
}

.el-menu--vertical .el-menu-item.is-active {
  background-color: #EBF5FF !important;
  color: #5DADE2 !important;
}

.el-table th {
  background-color: #F8FBFF !important;
  color: #34495E;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #5DADE2;
}

.el-pagination.is-background .btn-next:not(:disabled):hover,
.el-pagination.is-background .btn-prev:not(:disabled):hover {
  color: #5DADE2;
}

.el-form-item__label {
  color: #34495E;
  font-weight: 500;
}

.el-card {
  border: 1px solid #E3F2FD;
  box-shadow: 0 2px 12px 0 rgba(93, 173, 226, 0.1);
}

.el-dialog__header {
  background-color: #F8FBFF;
  border-bottom: 1px solid #E3F2FD;
}

.el-dialog__title {
  color: #34495E;
  font-weight: 600;
}