// 强制覆盖菜单样式，确保子菜单文字可见
.sidebar-container {
  // 强制设置菜单背景色
  .el-menu {
    background-color: #2C3E50 !important;
  }

  // 强制设置子菜单样式
  .el-submenu {
    .el-menu {
      background-color: #34495E !important;
      
      .el-menu-item {
        background-color: #34495E !important;
        color: #FFFFFF !important;
        
        // 强制设置所有文字元素为白色
        * {
          color: #FFFFFF !important;
        }
        
        span {
          color: #FFFFFF !important;
          opacity: 1 !important;
          visibility: visible !important;
        }
        
        &:hover {
          background-color: #3F5A6E !important;
          color: #5DADE2 !important;
          
          * {
            color: #5DADE2 !important;
          }
          
          span {
            color: #5DADE2 !important;
          }
        }
        
        &.is-active {
          background-color: #5DADE2 !important;
          color: #FFFFFF !important;
          
          * {
            color: #FFFFFF !important;
          }
          
          span {
            color: #FFFFFF !important;
          }
        }
      }
    }
  }
}

// 全局强制覆盖Element UI菜单样式
.el-menu--vertical {
  .el-submenu .el-menu .el-menu-item {
    color: #FFFFFF !important;
    
    span {
      color: #FFFFFF !important;
    }
    
    &:hover {
      color: #5DADE2 !important;
      
      span {
        color: #5DADE2 !important;
      }
    }
    
    &.is-active {
      color: #FFFFFF !important;
      
      span {
        color: #FFFFFF !important;
      }
    }
  }
}

// 针对特定的菜单项强制设置
.el-menu-item span {
  color: inherit !important;
}

.el-submenu .el-menu .el-menu-item span {
  color: #FFFFFF !important;
}

.el-submenu .el-menu .el-menu-item:hover span {
  color: #5DADE2 !important;
}

.el-submenu .el-menu .el-menu-item.is-active span {
  color: #FFFFFF !important;
}