<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.system.mapper.SysDictItemMapper">
    
    <sql id="selectSysDictItemVo">
        select id, dict_id, item_key, item_label, item_value, sort_order, status, create_by, create_time, update_by, update_time, remark from sys_dict_item
    </sql>

    <select id="selectSysDictItemList" parameterType="SysDictItem" resultType="SysDictItem">
        <include refid="selectSysDictItemVo"/>
        <where>  
            <if test="dictId != null "> and dict_id = #{dictId}</if>
            <if test="itemLabel != null  and itemLabel != ''"> and item_label like concat('%', #{itemLabel}, '%')</if>
            <if test="itemValue != null  and itemValue != ''"> and item_value = #{itemValue}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
        order by sort_order asc
    </select>
    
    <select id="selectSysDictItemById" parameterType="Long" resultType="SysDictItem">
        <include refid="selectSysDictItemVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysDictItem" parameterType="SysDictItem" useGeneratedKeys="true" keyProperty="id">
        insert into sys_dict_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dictId != null">dict_id,</if>
            <if test="itemKey != null">item_key,</if>
            <if test="itemLabel != null">item_label,</if>
            <if test="itemValue != null">item_value,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dictId != null">#{dictId},</if>
            <if test="itemKey != null">#{itemKey},</if>
            <if test="itemLabel != null">#{itemLabel},</if>
            <if test="itemValue != null">#{itemValue},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysDictItem" parameterType="SysDictItem">
        update sys_dict_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="dictId != null">dict_id = #{dictId},</if>
            <if test="itemKey != null">item_key = #{itemKey},</if>
            <if test="itemLabel != null">item_label = #{itemLabel},</if>
            <if test="itemValue != null">item_value = #{itemValue},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysDictItemById" parameterType="Long">
        delete from sys_dict_item where id = #{id}
    </delete>

    <delete id="deleteSysDictItemByIds" parameterType="String">
        delete from sys_dict_item where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>